<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
  <tbody>
    <tr>
      <td>Тип(низ/верх)</td>
      <td>{{ product.under_wear_type }}</td>
    </tr>
    <tr>
      <td>Размер</td>
      <td>{{ product.size }}</td>
    </tr>
    <tr>
      <td>Объем</td>
      <td>{{ product.capacity }}</td>
    </tr>
    <tr>
      <td>Размерная буква</td>
      <td>{{ product.letter }}</td>
    </tr>
    <tr>
      <td>Цвет</td>
      <td>{{ product.color }}</td>
    </tr>
  </tbody>
</table>
</body>
</html>
